
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}
html
{
   height: 100%;
   width: 100%;
}

a
{
    text-decoration: none;
    color: #DF5353;
}

body
{
    background: linear-gradient(to bottom,#800000, #0000007b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container
{
    background-color: #FFBC60;
    color: #DF5353;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container
{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle /*button*/
{
   height: 400px;
   width: 400px;
    background-color: #FFBC60;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 10px rbga(0,0,0, 0.1);
    transition: transform 0.2s;
}

.circle.active
{
    animation: pulse 1s infinite;
    transform: scale(1.1);
}

.circle:hover
{
    transform: scale(1.03);
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7), 0 0 0 0 rgb(0, 229, 255);
    }
    50% {
        box-shadow: 0 0 0 30px rgb(255, 196, 0), 0 0 0 60px rgba(255, 196, 0, 0.63);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(120,245,206), 0 0 0 0 rgba(244, 150, 52);
    }
}

.logo
{
    font-size: 20px;
    width: 450px;
    height: 450px;
}

.history-container
{
    background-color: #FFBC60;
    color: #DF5353;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    border-radius: 10px;
    border: none;
}

.btn-history
{
    color: #DF5353;
    font-size: large;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10PX;
    font-family: 'Times New Roman';
}


.btn-history:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #800000, #0000007b);
}


.modal-content
{
    background-color: #DF5353;
    border-radius: 20px;
    margin: 1% auto;
    padding: 20px;
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 50px;
    gap: 20px;
    grid-template-areas:
        "album-cover song-info"
        "lyrics lyrics"
        "translations translations";
}

.album-cover-container
{
    grid-area: album-cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-cover
{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.song-info
{
    grid-area: song-info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.song-info h2
{
    margin: 0;
    font-size: 18px;
}

.song-info p
{
    margin: 0;
    font-size: 14px;
}

textarea
{
    grid-area: lyrics;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 14px;
    resize: none;
    outline: none;
}
 
.translation-btn
{
    grid-area: translations;
    background-color: #FFBC60;
    color:#DF5353;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.translation-btn:hover
{
    transform: scale(1.04);
}


.close
{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
