
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #800000, #0000007b);
}

.title-container
{
    background-color: #FFBC60;
    text-decoration: none;
    color: #DF5353;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container:hover
{
    transform: scale(1.1);
}

.btn-history
{
    display: flex;
    text-decoration: none;
    color: #DF5353;
    background-color: #FFBC60;
    font-size: large;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10PX;
    font-family: 'Times New Roman';
}

.btn-history:hover
{
    cursor: pointer;

}

.container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Album placeholder styling */
.album-placeholder {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: #e0e0e0;
    object-fit: cover;
    border-radius: 5px;
}

/* Song info container */
.song-info {
    display: flex;
    flex-direction: column; /* Stack song name and artist vertically */
    background-color: #ffa500;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
}

/* Song name and artist styling */
.song-name {
    font-weight: bold; /* Make the song name stand out */
    margin-bottom: 5px; /* Space between song name and artist */
}

.song-artist {
    font-style: italic; /* Different style for artist name */
}

.home-btn {
    background-color: #ffa500;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 20px;
    color: #ffb0a0;
}
