body {
    font-family: Arial, sans-serif;
    background-color: #894242;
    color: white;
    margin: 0;
    padding: 20px;
}

.title-container
{
    background-color: #FFBC60;
    color: #DF5353;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container:hover
{
    transform: scale(1.1);
}

.btn-history
{
    display: flex;
    color: #DF5353;
    font-size: large;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10PX;
    font-family: 'Times New Roman';
}

.btn-history:hover
{
    cursor: pointer;

}

.container {
    width: 60%;
    margin: auto;
    text-align: center;
}

.translation-box {  
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

textarea {
    width: 40%;
    height: 200px;
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    color: black;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFBC60  ;
    border: none;
    color:#DF5353;
    border-radius: 5px;
}

.buttons {
    margin-top: 20px;
}

#home, #history {
    width: 150px;
    margin: 0 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #800000, #0000007b);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
}
select {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #d67c15;
    color: white;
    border: none;
    cursor: pointer;
}
.translation-box {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
textarea {
    width: 45%;
    height: 150px;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    resize: none;
}
.btn {
    padding: 10px 20px;
    background-color: #d67c15;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.buttons {
    text-align: center;
}
.arrow {
    font-size: 24px;
    color: #d67c15;
    padding: 0 20px;
}
.media-buttons {
    display: inline-block;
    margin: 0 5px;
}
.media-buttons button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
