{% extends '_template.html' %}

{% block styles %}
    <link rel="stylesheet" href="static/styles/styles.css">
{% endblock %}
{% block body %}
<body>
    <nav class="navbar-img">
        <a href="{{url_for('index')}}">
            <img src="{{ url_for('static', filename='images/Lyric Lens (Text Logo and Icon) - Horizontal.png')}}" style="height: 100px; width: 300px;">
        </a>    </nav>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{{url_for('index')}}">HOME</a></li>
            <li><a href="{{url_for('about')}}">ABOUT</a></li>
            <li><a href="{{url_for('history')}}">HISTORY</a></li>
        </ul>
    </nav>
    <div class="container">
        {% if red %}
            {% for x in red|reverse %}
            <div class="song-item">
                {% if x[4] != "fail" %}
                    <img class="album-placeholder" src="{{ x[4] }}" alt="Album Placeholder">
                {% else %}
                    <img src="{{ url_for('static', filename='images/failimg.webp') }}" alt="Album Placeholder" style="width: 100px; height: 100px;">
                {% endif %}
                
                <div class="song-info">
                    <div class="song-name">{{ x[0][:67] }}{% if x[0]|length > 67 %}...{% endif %}</div>
                    <div class="song-artist">{{ x[1][:67] }}{% if x[1]|length > 67 %}...{% endif %}</div>
                    {% if x[3] != "" and x[2] != "Made up Language/gibberish" %}
                        <a href="{{ url_for('from_history', songName=x[0], artistName=x[1], songLyric=x[3], songLang=x[2], albumCover=x[4]) }}">Head to translations</a>
                        <a href="{{ url_for('lyrics', songName=x[0], artistName=x[1], songLyric=x[3], songLang=x[2], albumCover=x[4]) }}">Head to Lyrics</a>  
                    {% endif %}    
                    {% if x[2] == "Made up Language/gibberish" %}
                    <a href="{{ url_for('lyrics', songName=x[0], artistName=x[1], songLyric=x[3], songLang=x[2], albumCover=x[4]) }}">Head to Lyrics</a>  
                    {% elif x[3] == "" %}
                        <p>No Lyrics</p>
                    {% endif %}
                    </div>        
            </div>
            {% endfor %}
        {% else %}
        <div class="song-item">
            <h1>Nothing in here for now!</h1>
        </div>
        {% endif %}

        
    </div> 
</body>
{% endblock %}

