<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music List</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        {% block body %}
        {% if red %}
            {% for x in red|reverse %}
            <div class="song-item">
                <img class="album-placeholder" src="{{ x[4] }}" alt="Album Placeholder">
                <div class="song-info">
                    <div class="song-name">{{ x[0][:67] }}{% if x[0]|length > 67 %}...{% endif %}</div>
                    <div class="song-artist">{{ x[1][:67] }}{% if x[1]|length > 67 %}...{% endif %}</div>
                    {% if x[3] != "" and x[2] != "Made up Language/gibberish" %}
                        <a href="{{ url_for('from_history', songName=x[0], artistName=x[1], songLyric=x[3], songLang=x[2], albumCover=x[4]) }}">Head to translations</a>    
                    {% endif %}    
                    {% if x[2] == "Made up Language/gibberish" %}
                        <p>coming soon!</p>
                    {% elif x[3] == "" %}
                        <p>No Lyrics</p>
                    {% endif %}
                    </div>        
            </div>
            {% endfor %}
        {% else %}
        <div class="song-item">
            <h1>Nothing in here for now!</h1>
        </div>
        {% endif %}

        <div class="home-btn-container">
            <button class="home-btn"><a href="{{url_for('index')}}" class="btn-text">Home</a></button>
        </div>
        {% endblock %}
    </div> 
</body>
</html>
