<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyric Lens</title>
    <link rel="stylesheet" href="static/homepage.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}">
    <script defer src="static/homepage.js"></script>
</head>
<body>


    <div class="title-container">
    <h1>LyricLens</h1>
    </div>
    <div class="circle-container">
        <button id="btn-toggle" class="circle">
            <img src="{{ url_for('static', filename='images/LL20.png')}}" alt="logo" class="logo">
        </button>
    </div>
    <div class="history-container">
        <button class="btn-history"><a href="history.html">Histroy</a></button>
    </div>
    <div id="modal" class="modal">
        <span class="close">X</span>
        <div class="modal-content"> 
            <div class="album-cover-container">
            <img src="" alt="Album Cover" class="album-cover" id="album-cover">
            </div> 
            <div class="song-info">
                <h2 id="song-name">Song Name</h2>
                <p id="artist-name">Artist Name</p>
            </div>
            <textarea id="lyrics" rows="2" readonly>Native Lyrics</textarea>
            <button class="translation-btn"><a href="translation.html">Translations</a></button>
        </div>
    </div>
</body>
</html>

