{% extends '_template.html' %}

{% block styles %}
    <link rel="stylesheet" href="static/styles/homepage.css">
    <script defer src="static/styles/homepage.js"></script>
{% endblock %}

{% block body %}
<body>


    <div class="title-container">
        <button><a href="{{url_for('about')}}">LyricLens</a></button>
    </div>
    <div class="circle-container">
        <form action="/run_listener" method="post">
            <button id="btn-toggle" class="circle" type="submit" onclick="disableButton(event)">
                <img src="{{ url_for('static', filename='images/LL20.png')}}" alt="logo" class="logo">
            </button>
        </form>
    </div>
    <div class="history-container">
        <button class="btn-history"><a href="{{url_for('history')}}">History</a></button>
</body>
{% endblock %}
