{% extends '_template.html' %}
{% block styles %}
    <link rel="stylesheet" href="static/styles/lyrics.css">
{% endblock %}

{% block body %}
<body>
    <nav class="navbar-img">
        <a href="{{url_for('index')}}">
            <img src="{{ url_for('static', filename='images/Lyric Lens (Text Logo and Icon) - Horizontal.png')}}" style="height: 100px; width: 300px; padding-bottom: 80px;">
        </a>    </nav>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{{url_for('index')}}">HOME</a></li>
            <li><a href="{{url_for('about')}}">ABOUT</a></li>
            <li><a href="{{url_for('history')}}">HISTORY</a></li>
        </ul>
    </nav>

    <div class="grid-container">
        <div class="ca">
                {% if albumCover != "fail" %}
                    <img src="{{ albumCover }}" alt="Album Cover" class="album-cover" id="album-cover">
                {% else %}
                    <img src="{{ url_for('static', filename='images/failimg.webp') }}" alt="Album Cover" class="album-cover" id="album-cover">
                {% endif %}
        </div>

        <div class="songinfo">
            <h2 id="song-name" class="e">{{ songName[:40] }}{% if songName|length > 40 %}...{% endif %}</h2>
            <p id="artist-name" class="e">{{ artistName[:80] }}{% if artistName|length > 80 %}...{% endif %}</p>
            <p class="e" style="text-decoration: underline;">Language: {{ songLang }}</p>
        </div>

        <div class="lyric-container">
            <textarea name="" id="" class="lyric" readonly>{{ songLyric }}</textarea>
        </div>
    </div>
</body>
{% endblock %}