{% extends '_template.html' %}
{% block styles %}
    <link rel="stylesheet" href="static/styles/translation.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block body %}
<body>
    
    <div class="container">
        <!-- Album Cover and Song Information -->
        <div class="album-info">
            <img src="{{ ca }}" alt="Album Cover" class="album-cover">
            <div class="song-details">
                <h2 class="song-name">{{ name }}</h2>
                <p class="song-artist">{{ art }}</p>
            </div>
        </div>
        
        <!-- Translation Section -->
        <div class="translation-section">
            <!-- Original Language -->
            <div class="original-lang">
                <h4>Original Language:</h4>
                <h5>{{lang | capitalize }}</h5>
                <textarea readonly placeholder="{{ lyric }}">{{ lyric }}</textarea>
            </div>
            
            <span class="arrow">→</span>
            
            <!-- Translation Language -->
            <div class="translated-lang">
                <h3>Translated:</h3>
                <select id="myDropdown">
                    <option value="">Select a language</option>
                    {% for key, value in ldict.items() %}
                        {% if value|upper != lang|upper %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <textarea id="translation" class="textbox" placeholder="Pick a language! Translations will appear here!" readonly></textarea>
            </div>
        </div>

        <!-- Buttons Section -->
        <div class="btn-container">
            <button class="btn"><a href="{{url_for('index')}}" class="btn-text">Return Home</a></button>
            <button class="btn"><a href="{{url_for('history')}}" class="btn-text">History</a></button>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            $('#myDropdown').change(function() {
                updateTranslation($(this).val());
            });
        });

        function updateTranslation(selectedLang) {
            const textToTranslate = `{{ lyric }}`;

            if (selectedLang) {
                $.ajax({
                    url: '/translate',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ text: textToTranslate, lang: selectedLang }),
                    success: function(response) {
                        $('#translation').val(response.translatedText);
                    },
                    error: function() {
                        alert('Error translating text');
                    }
                });
            } else {
                $('#translation').val('');
            }
        }
    </script>
    
</body>
{% endblock %}
