
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}


a
{
    text-decoration: none;
}

body
{
    background-image: url('../images/Lyric\ Lens\ \(Background\ Image\).png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Albert Sans';
    font-size: 22px;
    color: yellow;
}

/* Navbar styling */
.navbar {
    position: absolute;
    top: 20px;
    right: 40px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(237, 179, 20);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff7700; /* Hover color */
}


.title-container img
{
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

button{
    border: none;
}
.title-container button > a
{
    font-size: 30px;
    color: #DF5353;
    border: none;
    font-weight: bolder;

}


.circle-container
{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle img
{
    border-radius: 50%;
}

.circle /*button*/
{
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 10px rbga(0,0,0, 0.1);
    transition: transform 0.2s;
}

.circle.active
{
    animation: pulse 1s infinite;
    transform: scale(1.1);
}


.circle:hover
{
    transform: scale(1.03);
    filter: drop-shadow(10px 0 30px rgb(187, 12, 12));
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.3), 0 0 0 0 rgba(220, 20, 60, 0.3);
    }
    50% {
        box-shadow: 0 0 0 30px rgba(220, 20, 60, 0.3), 0 0 0 60px rgba(220, 20, 60, 0.2);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.2), 0 0 0 0 rgba(220, 20, 60, 0.2);
    }
}


.logo
{
    width: 300px;
    height: 300px;
}

.history-container
{
    background-color: #FFBC60;
    color: #DF5353;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    border-radius: 10px;
    border: none;
}

.history-container:hover
{
    transform: scale(1.1);
}

.btn-history
{
    display: flex;
    color: #DF5353;
    font-size: large;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10PX;
}

.btn-history:hover
{
    cursor: pointer;

}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #800000, #0000007b);
}


.modal-content
{
    background-color: #DF5353;
    border-radius: 20px;
    margin: 1% auto;
    padding: 20px;
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 50px;
    gap: 20px;
    grid-template-areas:
        "album-cover song-info"
        "lyrics lyrics"
        "translations translations";
}

.modal-content-zero
{
    display: flex;
    flex-direction: column;
    justify-content: cneter;
    align-items: center;
    background-color: #DF5353;
    border-radius: 20px;
    margin: 1% auto;
    padding: 20px;
    width: 600px;
    height: 200px;
}

.h2-text
{
    color: white;
    padding: 10px;
}

.modal-content-four
{
    background-color: #DF5353;
    border-radius: 20px;
    margin: 1% auto;
    padding: 20px;
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 50px 50px;
    gap: 20px;
    grid-template-areas:
        "album-cover song-info"
        "lyrics lyrics"
        "p p"
        "translations translations";
}

.album-cover-container
{
    grid-area: album-cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-cover
{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.song-info
{
    grid-area: song-info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}
.p
{
    grid-area: p;
    color: white;
    display: flex;
    font-family: monospace;
}

.song-info h2
{
    margin: 0;
    font-size: 18px;
}

.song-info p
{
    margin: 0;
    font-size: 14px;
}

textarea
{
    grid-area: lyrics;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 14px;
    resize: none;
    outline: none;
}
 
.translation-btn
{
    margin-top: 10px;
    grid-area: translations;
    background-color: #FFBC60;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#DF5353;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.translation-btn  a
{
    height: 100%;
    width: 100%;
    color: #DF5353;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}



.translation-btn:hover
{
    transform: scale(1.04);
}


.close
{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.about-us-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFBC60;
    margin: 80px;
    padding: 20px;
    color: #DF5353;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}

.about-title
{
    text-align: center;
}

.about-title p
{
    font-size: 20px;
}

.how-it-works
{
    margin: 20px;
    color: #ff7700ce;
}

.how-it-works ul
{
    font-size: 20px;
}



.home-btn-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBC60;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}


.home-btn a
{
    color: #DF5353;
    font-size: 30px;
    font-weight: bolder;
}

.home-btn-container:hover
{
    transform: scale(1.1);
}


