body {
    background-image: url('../images/Lyric Lens (Background Image).png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(240, 197, 80);
    font-family: 'Albert Sans'; 
    font-size: 22px;
}

.navbar {
    position: absolute;
    top: 1px;
    right: 40px;
}

.navbar-img{
    position: absolute;
    top: 1px;
    left: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(237, 179, 20);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff7700;
}

.grid-container
{
    margin-top: 80px;
    gap: 0px 60px;
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 390px 1fr;
    grid-template-areas: 
    "ca lyric"
    "songinfo lyric";
}

.e
{
    margin: 0px;
    padding: 0px;
}

.ca
{
    grid-area: ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ca img
{
    width: 300px;
    height: 300px;
}

.songinfo
{
    grid-area: songinfo;
    text-align: center;
    padding: 0px;
    margin: 0px;

}
.lyric-container
{
    grid-area: lyric;
}

textarea
{
    width: 400px;
    height: 550px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: rgb(240, 197, 80);
    padding: 10px;
    font-size: 14px;
    resize: none;
    outline: none;
}